<!DOCTYPE html>
<html>
<head>
	<title>Planning Poker online | inovex GmbH</title>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<script type="text/javascript" href="js/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" href="js/jquery/modules/jquery.login.js"></script>
</head>

<body>
	<div class="poker-login-overlay">
		<div class="poker-login">
			<div class="poker-top">Login</div>
				<div class="poker-content">
				<form action="" method="post" id="poker-login-form">
					<p class="poker-login-user">
						<label>Bitte gibt deine Rolle an</label>
						<select name="role">
							<option value="">Entwickler</option>
							<option value="">Product Owner</option>
							<option value="">Scrum Master</option>
						</select>
					</p>

					<p class="poker-login-user">
						<label>Bitte gib deinen Namen an</label>
						<input type="text" name="name" />
					</p>

					<p class="poker-login-user">
						<input type="submit" value="Einloggen" />
					</p>
				</form>
			</div>
		</div>
	</div>
	<div class="poker-main">
		<div class="poker-top">&nbsp;</div>

		<div class="poker-content">
			<h1>Planning Poker online</h1>

			<div class="poker-felt">
				<!--
				<div class="poker-card-display">
					<a class="poker-card">8</a>
					<span class="poker-card-player">Khalid</a>
				</div>
				<div class="poker-card-display">
					<a class="poker-card">13</a>
					<span class="poker-card-player">Oliver</a>
				</div>
				<div class="poker-card-display">
					<a class="poker-card">5</a>
					<span class="poker-card-player">Andreas</a>
				</div>
				//-->
			</div>
			<div class="poker-separator">&nbsp;</div>

			<div class="poker-cards">
				<a class="poker-card">0</a>
				<a class="poker-card">1/2</a>
				<a class="poker-card">1</a>
				<a class="poker-card">2</a>
				<a class="poker-card">3</a>
				<a class="poker-card">5</a>
				<a class="poker-card">8</a>
				<a class="poker-card">13</a>
				<a class="poker-card">10</a>
				<a class="poker-card">40</a>
				<a class="poker-card">100</a>
				<a class="poker-card">?</a>
			</div>
			<div class="poker-separator">&nbsp;</div>
		</div>
	</div>

	<footer class="poker-footer">
		<div class="poker-content">
			<b>&copy;2013 inovex GmbH</b> - Developed by Dominik Jungowski
		</div>
	</footer>
	<script type="text/javascript">$('#poker-login-form').login();</script>
</body>

</html>