@charset "utf-8";

body {
	background-image: url('../img/pattern_bg.png');
}

* {
	font-family: helvetica,arial;
	font-size: 12px;
}

::selection {
	background: #666;
	color: #fff;
}

h1 {
	color: #f46200;
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}

.poker-top {
	background-color: #f46200;
	height: 10px;
	border-radius: 10px 10px 0 0;
}

.poker-main, .poker-footer {
	max-width: 1060px;
	margin: auto;
}

.poker-main {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 8px -5px #606060;
}

.poker-content {
	padding: 0px 40px 10px 40px;
}

.poker-footer {
	margin-top: 20px;
	box-shadow: 0 0 5px #606060;
	background: #666;
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	color: #999;
}