@charset "utf-8";

body {
	background-image: url('../img/pattern_bg.png');
}

* {
	font-family: helvetica,arial;
	font-size: 12px;
}

::selection {
	background: #666;
	color: #fff;
}

h1 {
	color: #f46200;
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}

.poker-separator {
	clear: both;
	height: 0px;
}

.poker-top {
	background-color: #f46200;
	height: 10px;
	border-radius: 10px 10px 0 0;
}

.poker-main, .poker-footer {
	max-width: 1060px;
	margin: auto;
}

.poker-main {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 8px -5px #606060;
}

.poker-content {
	padding: 0px 40px 10px 40px;
}

.poker-footer {
	margin-top: 20px;
	box-shadow: 0 0 5px #606060;
	background: #666;
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	color: #999;
}

.poker-felt {
	border-radius: 5px;
	background-image: url('../img/poker-felt.jpg');
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 40px;
	height: 140px;
}

.poker-felt .poker-card-display {
	float: left;
	margin-right: 40px;
}

.poker-felt .poker-card {
	margin-bottom: 5px;
}

.poker-felt .poker-card-player {
	color: #fff;
	font-size: 15px;
	display: block;
	width: 70px;
	clear: both;
	text-align: center;
}

.poker-cards {
	clear: both;
	padding-left: 17px;
}

.poker-card {
	display: block;
	border: 2px solid #f46200;
	background-color: #fff;
	border-radius: 5px;
	float: left;
	width: 70px;
	height: 120px;
	line-height: 120px;
	margin-right: 5px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.poker-cards .poker-card:hover {
	background-color: #f46200;
	border-color: #000;
	cursor: pointer;
}