@charset "utf-8";

body {
	background-image: url('../img/pattern_bg.png');
	margin-bottom: 0;
}

* {
	font-family: helvetica,arial;
	font-size: 12px;
}

::selection {
	background: #666;
	color: #fff;
}

h1 {
	color: #f46200;
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}

input, select {
	border: 1px solid #f46200;
	padding: 5px;
	width: 150px;
	display: block;
	background-color: #fff;
}

input[type="submit"] {
	width: 162px;
}

p {
	margin: 0;
	padding: 0;
}

.poker-overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.poker-login {
	width: 200px;
	height: 190px;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	text-align: center;
}

.poker-login .poker-top {
	height: 20px;
	line-height: 20px;
	color: #fff;
	font-weight: bold;
}

.poker-login .poker-content {
	padding: 20px;
}

.poker-login .poker-login-user {
	margin-bottom: 10px;
}

img.poker-logout {
	position: relative;
	top: 3px;	
}

.poker-separator {
	clear: both;
	height: 0px;
}

.poker-top {
	background-color: #f46200;
	height: 10px;
	border-radius: 10px 10px 0 0;
}

.poker-main, .poker-footer {
	max-width: 1060px;
	margin: auto;
}

.poker-main {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 8px -5px #606060;
}

.poker-content {
	padding: 0px 40px 10px 40px;
}

.poker-footer {
	margin-top: 20px;
	box-shadow: 0 0 5px #606060;
	background: #666;
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	color: #999;
}

.poker-felt {
	border-radius: 5px;
	background-image: url('../img/poker-felt.jpg');
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 40px;
	height: 140px;
}

.poker-felt .poker-card-display {
	float: left;
	margin-right: 40px;
}

.poker-felt .poker-card {
	margin-bottom: 5px;
}

.poker-felt .poker-card-player {
	color: #fff;
	font-size: 15px;
	display: block;
	width: 70px;
	clear: both;
	text-align: center;
}

.poker-cards {
	clear: both;
	padding-left: 17px;
}

.poker-card {
	display: block;
	border: 2px solid #f46200;
	background-color: #fff;
	border-radius: 5px;
	float: left;
	width: 70px;
	height: 120px;
	line-height: 120px;
	margin-right: 5px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.poker-cards .poker-card:hover, .poker-card-selected {
	background-color: #f46200;
	cursor: pointer;
}

.poker-card-back {
	display: none;
	border-color: #000;
}

.poker-card-display-hidden .poker-card {
	display: none;
}

.poker-card-display-hidden .poker-card-back {
	display: block;
}

.poker-userinfo {
	text-align: right;
	padding-right: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	display: none;
}

.poker-userinfo-name, .poker-userinfo-role {
	font-weight: normal;
	color: #f46200;
}

.poker-users {
	font-weight: bold;
	margin-bottom: 10px;
	float: left;
}

.poker-users-online {
	font-weight: normal;
	margin-left: 3px;
}

.poker-users-online .poker-role-dev {
	color: #f46200;
}

.poker-users-online .poker-role-sm {
	color: #0DD550;	
}

.poker-users-online .poker-role-po {
	color: #666;
}

.poker-users p {
	float: left;
}